@model OnlineMovieTicketSystem.Models.Seattbl

@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

@Html.Raw(TempData["BlockMessage"])
@Html.Raw(TempData["BookMessage"])
@Html.Raw(TempData["CancelMessage"])