
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page</title>
</head>
<body>
    <div> 
        <table border="2" width="800" align="center" cellspacing="5" cellpadding="5">
            <tr style="background-color:green;color:white;text-align:center">
                <td colspan="2">Kavya | Visakhapatnam</td>
            </tr>
            <tr height="300">
                <td width="250">
                    <ul>
                        <li> @Html.ActionLink("Home","Home") </li>
                        <li>@Html.ActionLink("About","About")</li>
                        <li>@Html.ActionLink("Contact","Contact")</li>
                    </ul>
                </td>
                <td width="550">
                    @RenderBody()
                </td>
            </tr>
            <tr style="background-color:crimson;color:white;text-align:center">
                <td colspan="2">
                    &copy; copyright 2018<br />
                    Faculty | Courses | Projects | Development
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
