@model OnlineMovieTicketSystem.Models.Tbl_Theater

@{
    ViewBag.Title = "Search_Menu";
}

<div style="text-align:center">
    <br />
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Search Screen", "Search_Screen")</button><br /><br />
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Search Movie", "SearchMovie")</button><br /><br />
</div>

